*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(128, 34, 236);
}

.spinner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.form-btn{
    width: 250px !important;
    margin-top: 30px !important;
}
.bookpageDateTime{
    max-width: 300px;
}

.AppointmentsTable .ant-table-cell {
    font-size: clamp(10px, 1.2vw, 14px);
}

