.flip-card {
    background-color: transparent;
    width: 200px;
    height: 254px;
    perspective: 1000px;
    margin: 5px;
    font-family: sans-serif;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.doctorName {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.doctorImg{
    width: 150px;
    height: 150px;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
    cursor: pointer;
}
.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(191, 80, 255);
    border-radius: 1rem;
    padding: 5px;
}
.flip-card-back {
    transform: rotateY(180deg);
}