.main {
    padding: 10px;
    height: 100vh;
}
.layout{
    display: flex;
}

.sidebar{
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(51, 1, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    color: white;
}
.sidebarBurger{
    position: fixed;
    display: hidden;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    margin-top: -0.7rem;
    margin-left: -0.7rem;
    color: white;
    z-index: 2;

    transform: translateY(-100%);
    transition: transform 0.5s ease;
}
.sidebarBurger.open {
    display: flex;
    transform: translateY(0);
}
.burgerbtn{
    width: 3rem;
    height: 3rem;
    position: fixed;
    border: none;
    margin: 1rem;
    border-radius: 5px;
    z-index: 9999;
    background-color: hsla(0, 0%, 0%, 0.4);
}
/*Hamburger-line*/
.hamburger-line {
  position: fixed;
  top: 1.5rem;  
  left: 1.1rem;             
  width: 2rem;             
  height: 0.25rem;
  margin-left: 1rem;       
  background-color: #ffffff;  
  border-radius: 0.25rem;  
  transition: all 0.5s ease;
  margin-top: 1.5rem;
  
}

.hamburger-line::before,
.hamburger-line::after {
  content: "";
  position: absolute;
  width: 2rem;
  left: 0;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.hamburger-line::before {
  transform: translateY(-0.75rem);
}

.hamburger-line::after {
  transform: translateY(0.75rem);
}

.burgerbtn.open .hamburger-line {
  background-color: transparent; 
  transform: rotate(720deg); 
}

.burgerbtn.open .hamburger-line::before {
  transform: rotate(45deg);
}

.burgerbtn.open .hamburger-line::after {
  transform: rotate(-45deg);
}

.content{
    width: 100%;
    height: 100%;
}

.header{
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.body{
    height: 85vh;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    min-height: 100vh;
}
@media (max-width: 980px) {
    .body{
        height: auto;
        min-height: 100%;
    }
}

.logo h6{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}
.menu {
    margin-top: 50px;
}

.menu-item{
    margin-top: 30px;
}

.menu-item a, .Logoutbtn {
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
}
.menu-item i{
    font-size: 1.2rem;
    margin: 0px 15px;
}

.menu-item:hover i,
.menu-item:hover a, .logoutIcon:hover {
  color: #4C9AFF;
  transform: scale(1.2);
}

.active{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.active a, .active i{
    color:rgb(51, 1, 1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    height: 100%;
}
.header-content i{
    margin-right: 2px;
    font-size: 1.2rem;
}
.header-content a{
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    text-transform: uppercase;
}
.Logoutbtn{
    background-color: transparent;
    border: none;
}
.Logout {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Logoutbtn:hover{
    color: #4C9AFF;
}